* {
  box-sizing: border-box;
}
.button--container {
  display: flex;
  justify-content: center;
}
.create {
  margin: 25px;
  min-width: 100px;
}
.form--container {
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;

  background-color: rgb(242 249 255);
}

.form--control {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.form--label {
  margin: 10px 0px 10px 0px;
}

.form--button {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100px;
  border-radius: 10px;
  align-self: center;
  min-width: 20%;
}

.form--small {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form--small.error {
  display: block;
  color: red;
}
.form--small.success {
  display: none;
}
