.post {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  margin: 10px;
}

.post--body,
.post--footer {
  margin: 10px 10px;
}

.post--body p {
  text-align: justify;
}

.post--body span {
  border-radius: 1em;
  background-color: gainsboro;
  background: linear-gradient(to right, #bebebe, #d4d4d4);
  padding: 0.25em 0.55em;
  color: #000000;
}

.post--footer h5 {
  margin: 0px;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.post--section {
  display: flex;
  justify-content: space-between;
}
.post--likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post--likes small {
  margin-left: 5px;
}
.post--likes img {
  max-width: 15px;
  max-height: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  margin: 25px;
  padding: 10px;
  min-width: 20%;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.container--comments {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.container--add--coment {
  display: flex;
  justify-content: center;
}
.add--comment {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.add--comment select,
.add--comment button {
  align-self: center;
  min-width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
}

.add--comment textarea {
  border-radius: 10px;
}
.add--comment button {
  border-radius: 10px;
}

.comment {
  background-color: #fcfcfc;
  margin: 20px 10px 0px 10px;
  border-radius: 10px;
  padding: 10px;
}
.comment p {
  margin: 10px;
  background-color: #b1b1b1;
  border-radius: 10px;
  padding: 10px;
}
.comment h4 {
  margin: 10px;
}

@media screen and (min-width: 780px) {
  .post- {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  img {
    max-width: 50%;
  }
  .container--add--coment {
    display: flex;
    justify-content: center;
  }

  .post--header {
    display: flex;
    justify-content: center;
  }
}
