menu {
  display: flex;
  justify-content: space-around;
}

.card--link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  width: auto;
  padding: 0.25em 0.55em;
  background-color: gainsboro;
}
li:hover {
  background-color: rgba(183, 233, 216, 0.658);
}
.selected {
  background-color: rgb(72, 66, 175);
  color: white;
}
#lastPosts,
#remainingPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.remaining--header {
  display: flex;
}

.post {
  display: flex;
  flex-direction: column;
  width: 20rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.post--body,
.post--footer {
  margin: 10px 10px;
}

.post--footer {
  display: flex;
  flex-direction: column;
}

.post--likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post--likes small {
  margin-left: 10px;
}
.post--body p {
  text-align: justify;
}

.post--body span {
  border-radius: 1em;
  background-color: gainsboro;
  background: linear-gradient(to right, #bebebe, #d4d4d4);
  padding: 0.25em 0.55em;
  color: #000000;
}
.post--line {
  border: 1px solid rgb(95, 95, 95);
  height: 1px;
  background-color: rgb(95, 95, 95);
}

.post--footer h5 {
  margin: 0px;
}
.post--header img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.post--likes img {
  max-width: 20 px;
  max-height: 20px;
}

.header--remaining {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}
.header--page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

#searchValue {
  border-radius: 10px;
  width: 25%;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  menu {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
  }
  li {
    width: 80px;
    padding: 0;
    text-align: center;
    margin: 5px;
  }
}
