* {
  font-family: 'Quicksand', sans-serif;
}
body {
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}
.loader {
  border: 5px solid #f3f3f3;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.--title {
  display: flex;
  justify-content: center;
}

.--button {
  height: 30px;
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  font-weight: bold;
}
